<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.gillcaptital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.hm.gillcaptital.HMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8c9eb83d238f201cfbdc3b1529996c712747daee" />

        <service android:name="com.hm.gillcaptital.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.hm.gillcaptital.ui.SplashScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hm.gillcaptital.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.hm.gillcaptital.ui.screen.PageWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hm.gillcaptital.ui.screen.FollowUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hm.gillcaptital.ui.screen.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hm.gillcaptital.ui.screen.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hm.gillcaptital.ui.screen.cataloguelookup.CatalogueLookupActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>